<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Assist</title>
    </head>

    <body>
        <h1><a href="/">Assist</a></h1>

        <form action="/add_profile_picture" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />

            <h2>Lisää profiilikuva: </h2>
            <input type="file" name="photo" accept=".jpg" required/>
            <br />
            <br />
            <input type="submit" name="confirm" value="Lisää" />
            <button type="button" onclick="window.location.href='/profile/{{ session.id }}'">Älä lisää</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red;">{{ messages[0] }}</p>
            {% endif %}
        {% endwith %}
        
    </body>
</html>