<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Assist | Create account</title>
    </head>

    <body>
        <h1><a href="/">Assist</a></h1>

        <h2>Uusi tili</h2>

        <h3>Tervetuloa Assist-sovellukseen!</h3>
        <h4>Ole hyvä ja tee uuden tilin.</h4>
        <form action="/register" method="post">

            <p>
                Luo käyttäjätunnus: <br />
                <input type="text" name="new_username" size="30" minlength="3" maxlength="20">
            </p>

            <p>
                Luo salasana (min. 5 merkkiä): <br />
                <input type="password" name="new_password" size="30" minlength="5" maxlength="200">
            </p>

            <p>
                Kirjoita salasana uudestaan: <br />
                <input type="password" name="new_password2" size="30" minlength="5" maxlength="200">
            </p>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p style="color: red;">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
            <br />
            <input type="submit" value="Luo tili">
        </form>
        <p><a href="/login">Kirjaudu sisään</a></b></p>
    </body>
</html>