<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Assist | Log In</title>
    </head>

    <body>

        <h1><a href="/">Assist</a></h1>
        <h2>Sisäänkirjautuminen</h2>

        <h4>Ole hyvä ja kirjaudu sisään.</h4>
        <form action="/login" method="post">
            <p>
                Käyttäjätunnus: <br />
                <input type="text" name="login_username" size="50" required>
            </p>
            <p>
                Salasana: <br />
                <input type="password" name="login_password" size="50" required>
            </p>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p style="color: red;">{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
            
            <br />
            <input type="submit" value="Log in">
        </form>

        <h4><a href="/register">Tee uuden tilin</a></h4>
    </body>
</html>