<html>
    <head>
        <title>Assist | Create product</title>
    </head>

    <body>
        <h1>Assist</h1>
        <h2>Luo uuden tuotteen</h2>

        <form action="/new_product" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <h4>
                Kirjoita otsikko: 
                <input type="text" name="title" required/>
            </h4>

            <p>
                <b>Kirjoita halutessa alaotsikon:</b>
                <textarea name="subtitle" rows="2" cols="40" ></textarea>
            </p>

            <p>
                <b>Myytkö palvelun tai tuotteen?</b><br />
                <input type="radio" name="type" value="1" required/> Tuote
                <input type="radio" name="type" value="2" /> Palvelu
            </p>

            <p>
                <b>Lisää jpg-tiedoston tuotteesta</b>, joka on maksimissaan 1 MT: 
                <input type="file" name="thumbnail" accept=".jpg" required/>
            </p>

            <p>
                <b>Lisää kuvauksen tuotteestasi:</b><br />
                <textarea name="product_description" rows="5" cols="50" required></textarea>
            </p>

            <p>
                <b>Mitkä näistä parhaiten kuvaa tuotettasi? (Valitse ainakin yksi)</b><br />
                <input type="checkbox" name="tags" value="A" /> Elintarvike
                <input type="checkbox" name="tags" value="B" /> Viihde
                <input type="checkbox" name="tags" value="C" /> Elektroniikka
                <input type="checkbox" name="tags" value="D" /> Urheilu
                <input type="checkbox" name="tags" value="E" /> Muoti
                <input type="checkbox" name="tags" value="F" /> Lapset
                <input type="checkbox" name="tags" value="G" /> Kauneus ja hyvinvointi
                <input type="checkbox" name="tags" value="H" /> Musiikki
                <input type="checkbox" name="tags" value="I" /> Taide
                <input type="checkbox" name="tags" value="J" /> Harrastukset
                <input type="checkbox" name="tags" value="K" /> Koti
                <input type="checkbox" name="tags" value="L" /> Muu
            </p>
            
            <h3>Haluatko julkaista tuotteesi?</h3>
            <input type="submit" name="confirm" value="Kyllä" />
            <input type="submit" name="cancel" value="Ei" />
        </form>

        <h4>*vaihtoehdot ja tuotteen määrittelemisen ei ole mahdollista myöhemmin muokata. Jos haluat niitä vaihtaa, tee uuden julkaisun*</h4>
    </body>
</html>