<html>
    <head>
        <title>Assist | Create product</title>
    </head>

    <body>
        <h1>Assist</h1>
            <h4>
                Otsikko: <br />
                {{ title }}
            </h4>

            <p>
                <b>Alaotsikko:</b> <br />
                {{ subtitle }}
            </p>

            <p>
                <b>Kyseessä on {{ product_type }}</b>
            </p>

            <p>
                <b>Valitsemasi kuva:</b>
                <img src="/thumbnail/{{ product_id }}" alt="kuva tuotteestasi">
            </p>

            <p>
                <b>Kuvaus tuotteestasi:</b><br />
                {{ description }}
            </p>

            <form action="/new_product" method="post">
                <h3>Haluatko julkaista tuotteesi?</h3>
                <input type="submit" value="Kyllä" />
                <input type="submit" value="Ei" />
            </form>
    </body>
</html>