<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Assist | Create product</title>
    </head>

    <body>
        <h1><a href="/">Assist</a></h1>
        <h2>Luo uuden tuotteen</h2>

        <form action="/new_product" method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <h4>
                1. Kirjoita otsikko: <br />
                <input type="text" name="title" size="60" maxlength="400" required/>
            </h4>

            <p>
                <b>2. Kirjoita halutessa alaotsikon:</b><br />
                <textarea name="subtitle" rows="2" cols="50" maxlength="400"></textarea>
            </p>

            <p>
                <b>3. Myytkö palvelun tai tuotteen?</b><br />
                <input type="radio" name="type" value="1" required/> Tuote
                <input type="radio" name="type" value="2" /> Palvelu
            </p>

            <p>
                <b>4. Lisää jpg-tiedoston tuotteesta</b>, joka on maksimissaan 1 MT: 
                <input type="file" name="thumbnail" accept=".jpg" required/>
            </p>

            <p>
                <b>5. Lisää kuvauksen tuotteestasi:</b><br />
                <textarea name="product_description" rows="5" cols="50" maxlength="2000" required></textarea>
            </p>

            <p>
                <b>6. Mitkä näistä parhaiten kuvaa tuotettasi? (Valitse ainakin yksi)</b><br />
                <input type="checkbox" name="tags" value="essential" /> Elintarvike
                <input type="checkbox" name="tags" value="entertainment" /> Viihde
                <input type="checkbox" name="tags" value="electronics" /> Elektroniikka
                <input type="checkbox" name="tags" value="sports" /> Urheilu
                <input type="checkbox" name="tags" value="fashion" /> Muoti
                <input type="checkbox" name="tags" value="children" /> Lapset
                <input type="checkbox" name="tags" value="beauty" /> Kauneus ja hyvinvointi
                <input type="checkbox" name="tags" value="music" /> Musiikki
                <input type="checkbox" name="tags" value="art" /> Taide
                <input type="checkbox" name="tags" value="hobbies" /> Harrastukset
                <input type="checkbox" name="tags" value="home" /> Koti
                <input type="checkbox" name="tags" value="other" /> Muu
            </p>
            
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p style="color: red;">{{ messages[0] }}</p>
            {% endif %}
            {% endwith %}

            <h3>Haluatko julkaista tuotteesi?</h3>
            <input type="submit" name="confirm" value="Kyllä" />
            <button type="button" onclick="window.location.href='/'">Ei</button>
        </form>

        <h4>*vaihtoehdot ja tuotteen määrittelemisen ei ole mahdollista myöhemmin muokata. Jos haluat niitä vaihtaa, tee uuden julkaisun*</h4>
    </body>
</html>