<html>
    <head>
        <title>Assist | Modify product</title>
    </head>

    <body>
        <h1>Assist</h1>
        <form action="/modify_product/{{ product_id }}" method="post" enctype="multipart/form-data">
            <h4>
                Otsikko: <br />
                <input type="text" name="title" value="{{ title }}" required/>
            </h4>

            <p>
                <b>Alaotsikko:</b> <br />
                <textarea name="subtitle" rows="2" cols="40" value="{{ sub_title }}" required></textarea>
            </p>

            <p>
                <b>Kyseessä on {{ product_type }}</b>
            </p>

            <p>
                <b>Valitsemasi kuva:</b>
                <img src="/thumbnail/{{ product_id }}" alt="kuva tuotteestasi">
            </p>
            

            <p>
                <b>Kuvaus tuotteestasi:</b><br />
                <textarea name="product_description" rows="5" cols="50" value="{{ descript }}" required></textarea>
            </p>

            <h3>Haluatko muokata tuotteesi?</h3>
                <input type="submit" name="confirm" value="Kyllä" />
                <input type="submit" name="cancel" value="Ei" />
        </form>
    </body>
</html>