<html>
    <head>
        <title>Assist</title>
    </head>

    <body>
        <h1>Assist</h1>
        
        <h2>{{ title }}</h2>
        <img src="/thumbnail/{{ product_id }}" alt="kuva tuotteesta">
        <h4>{{ sub_title }}</h4>
        <p> {{ time_posted }}</p>
        <p>{{ descript }}</p>

        {% if session.id == creator_id %}

        <p><a href="/modify_product/{{ product_id }}">Muokkaa</a> | <a href="/delete_product/{{ product_id }}">Poista</a></p>

        {% else %}

        <hr />
        <form action="/new_thread/{{ product_id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="hidden" name="product_title" value="{{ title }}" />

            <p><b>Kiinnostaako tuote?</b> Ole hyvä ja lähetä myyjälle viestin!</p>
            <textarea name="first_message" rows="4" cols="50" required></textarea> <br />

        <input type="submit" value="Lähetä">

        </form>

        <hr />
        <form action="/new_review/{{ product_id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            
            <p><b>Jos olet ostanut tuotteen,</b> ole hyvä ja kerro maailmalle mitä mieltä olet!</p>

            <p>Otsikko:</p>
            <input type="text" name="review_title" required/> <br />
            
            <p>Kerro enemmän tuotteesta:</p>
            <textarea name="review_text" rows="4" cols="50"></textarea> <br />

            <p>Arvioi: </p>
            <input type="number" name="rating" min="1" max="5" required><p>/5</p> <br />
            <input type="submit" value="Lähetä">
        </form>

        {% endif %}

        <hr />
        <h3>Arvostelut:</h3>

        {% for r in reviews %}
        
        <h4>{{ r.title }}</h4>
        <p>{{ r.review }}</p>
        <h4>{{ r.rating }}/5</h4>
        <p><a href="/profile/{{ r.reviewer }}">{{ r.username }}</a> ({{ r.time_posted }})</p>

        {% if session.id == r.reviewer %}

        <form action="/delete_review/{{ r.id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <input type="submit" value="Poista">
        </form>
        {% endif %}
        <hr />

        {% endfor %}
    </body>
</html>