<html>
    <head>
        <title>Assist | {{ user.username }}'s profile</title>
    </head>

    <body>
        <h1><a href="/">Assist</a></h1>

        <h2>Profiili ({{ user.username }})</h2>

        {% if session.id == user_id %}

        {% if user.has_pfp %}
        <img src="/pfp/{{ user_id }}" alt="Profile picture" />
        {% else %}
        <h4><a href="/add_pfp/">Lisää profiilikuva</a></h4>
        {% endif %}

        <p><b><a href="/new_product">Julkaise uuden tuotteen</a></p></b>
        <p><b><a href="/logout">Kirjaudu ulos</a></p></b>

        <h4>Sinun keskustelut</h4>
        <ul>
            {% for t in threads %}
            <li>
                <h4><a href="/thread/{{ t.product_id }}/{{ t.other_user_id }}">{{ t.other_username }}</a>
                ({{ t.title }})</h4>
            </li>
            {% endfor %}
        </ul>

        {% endif %}

        <h3>Tuotteet (yhteensä {{ total_posts }})</h3>
        <ul>
            {% for p in products %}
            <li>
                <h3><a href="/product/{{ p.id }}">{{ p.title }}</a></h3>
                <b>{{ p.sub_title }}</b>
                <p>{{ p.time_posted }}</p>
            </li>
            {% endfor %}
        </ul>

        <h3>Arvostelut (yhteensä {{ total_reviews }}, KA {{ avg_rating }}/5)</h3>

        <ul>
            {% for r in reviews %}
            <li>
                <h4><a href="/product/{{ r.product_id }}">{{ r.title }}</a></h4>
                <p>{{ r.review }}</p>
                <h4>{{ r.rating }}/5</h4>
                <p>{{ r.time_posted }}</p>
            </li>
            {% endfor %}
        </ul>
        
        {% if session.id == user_id %}
        <h3>Sinun tykkäykset (yhteensä {{ total_likes }})</h3>
        <ul>
            {% for l in likes %}
            <li>
                <h4><a href="/product/{{ l.product_id }}">{{ l.title }}</a></h4>
                <h3>{{ l.rating }}</h3>
                <p>{{ l.time_posted }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </body>
</html>