<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>Assist</title>
    </head>

    <body>
        <h1><a href="/">Assist</a></h1>
        
        {% if product_id %}

        <h2><a href="/product/{{ product_id }}">{{ title }}</a></h2>
        <h4>Myyjä: <a href="/profile/{{ seller_id }}">{{ seller_username }}</a></h4>

        {% else %}

        <h2>{{ title }}</h2><p> (Tämä tuote on poistettu)</p>
        <h4><a href="/profile/{{ seller_id }}">{{ seller_username }}</a></h4>

        {% endif %}

        <form action="/new_message/{{ thread_id }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
            <h4>Lähetä viesti:</h4>
            <textarea name="message" rows="4" cols="50" required></textarea>
            <input type="submit" value="Lähetä">
        </form>
        
        {% for m in messages %}

        <hr />
        {% if m.sender_id == session.id %}

        <p><b>{{ m.username }}</b> ({{ m.time_sent }}):</p>
        <p>{{ m.string }}</p>

        {% else %}

        <p><a href="/profile/{{ m.sender_id }}">{{ m.username }}</a> ({{ m.time_sent }}):</p>
        <p>{{ m.string }}</p>

        {% endif %}

        {% endfor %}

    </body>
</html>