<html>
    <head>
        <title>Assist</title>
    </head>

    <body>
        <h1>Assist</h1>
        <h2><a href="/product/{{ product_id }}">{{ title }}</a></h2>
        
        <h4><a href="/profile/{{ seller_id }}">{{ seller_username }}</a></h4>

        <form action="/new_message/{{ product_id }}" method="post">
        <h4>Lähetä viesti:</h4>
        <textarea name="message" rows="4" cols="50"></textarea>
        <input type="submit" value="Lähetä">
        </form>
        
        {% for m in messages %}
        <hr />
        <p>{{ m.username }} ({{ m.time_sent }}):</p>
        <p>{{ m.string }}</p>
        {% endfor %}

    </body>
</html>